head>
    <script type="text/javascript" src="js/libs/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js/libs/handlebars-1.0.0.js"></script>
    <script type="text/javascript" src="js/libs/ember.js"></script>
    <script type="text/javascript" src="js/libs/boolean_evaluate.js"></script>
    <script type="text/javascript" src="js/libs/boolean_print.js"></script>
    <script type="text/javascript" src="js/libs/underscore-min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body>
    <script type="text/x-handlebars" id="input">
        <div class="input">
            {{input type="text" value=input}}
        </div>
    </script>
    <script type="text/x-handlebars" id="components/truth-row">
        {{view App.TruthChecker valueBinding=guess cols=2 rows=1 colorBinding=colorCheck}}
    </script>

    <script type="text/x-handlebars" id="components/truth-variable">
        <p>{{truthValue}}</p>
    </script>

    <script type="text/x-handlebars" data-template-name="application">
        {{outlet}}
    </script>

    <script type="text/x-handlebars" data-template-name="explain">
        <p> Welcome to the truth app landing page! It's still a work in progress, but if you'd like to check it out, please click {{#link-to 'truth' "true" "a|b"}}here{{/link-to}} </p>
    </script>

    <script type="text/x-handlebars" data-template-name="feedback">
        {{outlet}}
    </script>
    <script type="text/x-handlebars" data-template-name="truth">
        <div class="header">
            <h3> Truth Table</h3>
        </div>
        <div class="table">
            <table>
                <tr>
                {{#each variable in variables}}
                    <td style="padding: 10px;border: 1px solid black;font-size: 16px;"> {{variable}} </td>
                {{/each}}
                {{#each node in ast}}
                    <td style="padding: 10px;border: 1px solid black;font-size: 16px;"> {{node}} </td>
                {{/each}}
                </tr>
                {{#each given_number in number_list}}
                <tr>
                    {{#each variable in variables}}
                        <td style="padding: 10px;border: 1px solid black;font-size: 16px;"> {{truth-variable variable_stuff=variable index=given_number variables_stuff=variables}} </td>
                    {{/each}}
                    {{#each node in ast}}
                    <td style="padding: 10px; border: 1px solid black;>
                        {{truth-row node_stuff=node variable_stuff=variables row=given_number feedback_stuff=feedback}}
                    </td>
                    {{/each}}
                </tr>
                {{/each}}
            </table>
        </div>
    </script>
</body>
